<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSTeste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSTeste.Properties.Settings>
            <setting name="WSTeste_ClickSMS_clicksmsV2" serializeAs="String">
                <value>https://hm.comprafacil.pt/SIBSClick2/webservice/clicksmsV4.asmx</value>
            </setting>
            <setting name="WSTeste_WSCompraFacilPS_CompraFacilPS" serializeAs="String">
                <value>https://hm.comprafacil.pt/SIBSClick2/webservice/CompraFacilPS.asmx</value>
            </setting>
            <setting name="WSTeste_CompraFacilWS_CompraFacilWS" serializeAs="String">
                <value>https://hm.comprafacil.pt/SIBSClick2/webservice/CompraFacilWS.asmx</value>
            </setting>
        </WSTeste.Properties.Settings>
    </applicationSettings>
</configuration>